<h2>User page!</h2>

<p>The id in the url is <%= params["id"] %>.</p>

<% if params["lol"] %>
  <p>Holy shit, lol is <%= params["id"] %>.</p>
<% end %>

<p> This is view number
<%= session["lol"] %> </p>

<form method="POST" action="/forms">
<input type="text" id="lol" name="lol[name]">
<input type="text" id="lol3" name="lol[email]">
<input type="submit">
</form>

<%= button_to("lol", "/puts", :method => :put) %>